<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BAM Photography</title>
    <link rel="stylesheet" href="normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="responsive.css">
</head>  
     
      <section>
       <img src="/assets/newborn/DSC_2901.jpg" alt="Photo of us" id="profile-photo">

        <p>Hi, we are the BAM Photographers specialising in the Newborn & Children Photography and for real this is our Web Design project and this text is here to fill up the About Us page only. Hi, we are the BAM Photographers specialising in the Newborn & Children Photography and for real this is our Web Design project and this text is here to fill up the About Us page only.<br>
        <br>"BAM were a pleasure to work with. Andrzej is a very talented photographer and we were delighted with our photos" -- Jenny
        <br>
        <br>"BAM were friendly and professional. We loved their website." -- James</p> 
        
        <p>If you'd like to follow us on Flickr, click here <a href="https://www.flickr.com/photos/87122581@N06/">Flickr Gallery</a></p>
      </section>







  