<div class="about">
<img src="/assets/newborn/thumb100x100DSC_2347.png"/>
<span>About Us...</span><br>
<span>Hi, we are the BAM Photographers specialising in the Newborn & Children Photography
      For real this is our Web Design project and this text is here to fill up the About Us page. Our aim for you is to capture the love and the bond that you have for your little (and not so little) ones.
      We want to help tell your story of love. We’re all in so much of a rush these days that we rarely get time to just be with the ones we love. There’s always some distraction, some worry, the feeling
      that there’s something else we should be doing. For a couple of hours we want you to relax, have fun and spend time with the ones you love. We’ll be there to document this very special time and to         create art that will remind you forever of how much you love one another. 
      <br>
        
        If you'd like to follow us on Flickr, click here <a href="https://www.flickr.com/photos/87122581@N06/">Flickr Gallery</a><br>
        
        <b>``Enjoy the little things, for one day you may look back and realise they were the big things.`` -Robert Brault   Description</b></span>
</div>  




