<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BAM Photography</title>
    <link rel="stylesheet" href="normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
<script>
function validateForm() {
    var x = document.forms["myForm"]["fname"].value;
    if (x == null || x == "") {
        alert("Name must be filled out");
        return false;
    }
}
</script>

<body>

<form name="myForm" action="demo_form.asp"
onsubmit="return validateForm()" method="post">
		<table width = "450px"align="center">
			<tr>
				<td>Name: *</td>
				<td><input name = "fname" type = "text" size = "35" value ="" required /></td><br>
			</tr>	
			<br>
			<tr>	
				<td>Tel No: *</td>
				<td><input name = "telno" type = "text" size = "35" required /></td><br>
			</tr>
			<br>
			<tr>	
				<td>Email: *</td>
				<td><input name = "email" type = "text" size = "35" required /></td><br>
			</tr>
			
			<tr>                
                     <td>
                     <label for = "comments">Your message</label>
                     </td> 
                     <td>
                     <textarea name = "comments" maxlength = "1000" cols = "25" rows = "6"></textarea>
                     </td> 
            </tr>
			
		</table>
		<h3 align="center">Please complete all fields with *</h3>
		
		<form action="demo_form.asp" method="post">
	<input type="submit" value="Submit" align ="center">
</form>
	
    
</body>
</html>

