 <head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Ubuntu:400,400italic,700|Titillium+Web:400,400italic,700|Open+Sans:400,400italic,700,800' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  'normalize', media: 'all', 'data-turbolinks-track' => true %>           
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script  src="https://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
 	 </head>
 	
 </head>
 <h1 id="gallery-header">Children Gallery</h1>
      
      
    <div class="gal">
			<a target="_blank" href="/assets/children/2.jpg"  data-lightbox="image-1" data-title="Image 1">
			<img src="/assets/children/2.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>

		<div class="gal">
			<a target="_blank" href="/assets/children/3.jpg"  data-lightbox="image-1" data-title="Image 2">
			<img src="/assets/children/3.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
	  
	  <div class="gal">
			<a target="_blank" href="/assets/children/3.jpg"  data-lightbox="image-1" data-title="Image 3">
			<img src="/assets/children/3.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/5.jpg"  data-lightbox="image-1" data-title="Image 4">
			<img src="/assets/children/5.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/6.jpg"  data-lightbox="image-1" data-title="Image 5">
			<img src="/assets/children/6.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/7.jpg"  data-lightbox="image-1" data-title="Image 6">
			<img src="/assets/children/7.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/8.jpg"  data-lightbox="image-1" data-title="Image 7">
			<img src="/assets/children/8.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/10.jpg"  data-lightbox="image-1" data-title="Image 8">
			<img src="/assets/children/10.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5139.jpg"  data-lightbox="image-1" data-title="Image 9">
			<img src="/assets/children/_DSC5139.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5140.jpg"  data-lightbox="image-1" data-title="Image 10">
			<img src="/assets/children/_DSC5140.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5141.jpg"  data-lightbox="image-1" data-title="Image 11">
			<img src="/assets/children/_DSC5141.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5157.jpg"  data-lightbox="image-1" data-title="Image 12">
			<img src="/assets/children/_DSC5157.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/DSC1126.jpg"  data-lightbox="image-1" data-title="Image 13">
			<img src="/assets/children/DSC1126.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/DSC5162.jpg"  data-lightbox="image-1" data-title="Image 14">
			<img src="/assets/children/DSC5162.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/DSC6672.jpg"  data-lightbox="image-1" data-title="Image 15">
			<img src="/assets/children/DSC6672.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/DSC_0017.jpg"  data-lightbox="image-1" data-title="Image 16">
			<img src="/assets/children/DSC_0017.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5140.jpg"  data-lightbox="image-1" data-title="Image 17">
			<img src="/assets/children/_DSC5140.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5141.jpg"  data-lightbox="image-1" data-title="Image 18">
			<img src="/assets/children/_DSC5141.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/children/_DSC5157.jpg"  data-lightbox="image-1" data-title="Image 19">
			<img src="/assets/children/_DSC5157.jpg" alt="Children Pictures" width="150" height="100">
			</a>
		</div>
		  
   
		
		
	</div>
		
     <script src="lightbox.js"></script> 
