<html>
    
      <h1 id="gallery-header">Newborns Gallery</h1>
      
      
      <div class="gal">
			<a target="_blank" href="/assets/newborn/DSC1340.jpg"  data-lightbox="image-1" data-title="Image 1">
			<img src="/assets/newborn/DSC1340.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>

		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC1357.jpg"  data-lightbox="image-1" data-title="Image 2">
			<img src="/assets/newborn/DSC1357.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
	  
	  	<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC5447.jpg"  data-lightbox="image-1" data-title="Image 3">
			<img src="/assets/newborn/DSC5447.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC6635.jpg"  data-lightbox="image-1" data-title="Image 4">
			<img src="/assets/newborn/DSC6635.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_1071.jpg"  data-lightbox="image-1" data-title="Image 5">
			<img src="/assets/newborn/DSC_1071.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_1144.jpg"  data-lightbox="image-1" data-title="Image 6">
			<img src="/assets/newborn/DSC_1144.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_1961.jpg"  data-lightbox="image-1" data-title="Image 7">
			<img src="/assets/newborn/DSC_1961.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_2299.jpg"  data-lightbox="image-1" data-title="Image 8">
			<img src="/assets/newborn/DSC_2299.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_2347.jpg"  data-lightbox="image-1" data-title="Image 9">
			<img src="/assets/newborn/DSC_2347.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_2901.jpg"  data-lightbox="image-1" data-title="Image 10">
			<img src="/assets/newborn/DSC_2901.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_2915.jpg"  data-lightbox="image-1" data-title="Image 11">
			<img src="/assets/newborn/DSC_2915.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_6129.jpg"  data-lightbox="image-1" data-title="Image 12">
			<img src="/assets/newborn/DSC_6129.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_6198.jpg"  data-lightbox="image-1" data-title="Image 13">
			<img src="/assets/newborn/DSC_6198.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_7332.jpg"  data-lightbox="image-1" data-title="Image 14">
			<img src="/assets/newborn/DSC_7332.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_8781.jpg"  data-lightbox="image-1" data-title="Image 15">
			<img src="/assets/newborn/DSC_8781.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		<div class="gal">
			<a target="_blank" href="/assets/newborn/DSC_8872.jpg"  data-lightbox="image-1" data-title="Image 16">
			<img src="/assets/newborn/DSC_8872.jpg" alt="Newborn Pictures" width="150" height="100">
			</a>
		</div>
		
		
     <script src="js/lightbox.js"></script> 
    </body>
</html>