<!DOCTYPE html>
<html>
<head>
    
    <title>BAM Photography</title>
    
</head>
 
<div id="wrapper">
	<section>
		  
		<div class="mainimage">
		<a target="_blank" href="gallery.html"><h2>Click to View Gallery</h2>
		<img alt="View Galley" src="/assets/newborn/DSC6635.jpg" width="900" height="500"alt="mainpicture"></a>
		</div>
	</section>	